html,
body {
  padding: 0;
  margin: 0;
  margin: 0;
  /* font-family: "Merriweather", serif; */
  font-family: "Gloria Hallelujah", cursive;
  background-color: #f6be3e;
}

h1 {
  font-weight: 100;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  font-family: "Gloria Hallelujah", cursive;
  background-color: black;
  overflow: hidden;
  color: white;
  padding: 0.2rem 0.2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 3 em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: bisque; */
  width: 50%;
}
input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

form input {
  display: block;
  background-color: #f6be3e;
  width: 50%;
  margin: 5px;
  padding: 5px 0px;

  border: 0;
  border-bottom: 3px dotted black;

  font-family: "Gloria Hallelujah", cursive;
  font-weight: 200;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

form input::placeholder {
  font-family: "Gloria Hallelujah", cursive;
  color: black;
}

form input:focus::placeholder {
  color: transparent;
}

form input[type="submit"] {
  font-family: "Gloria Hallelujah", cursive;
  letter-spacing: 5px;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 800;
  border: 0;
  border-bottom: 0;
  color: white;
  background-color: #4a77e0;
}

form input[type="submit"]:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

input:focus {
  /* font-family: "Gloria Hallelujah", cursive; */
  text-align: center;
  color: black;
  outline: none;
  border: none;
  border-bottom: 3px dotted black;
}
